@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import 'variables';

.promo {
  height: 614px;
  display: flex;
  align-items: center;
  background: #e8e8e8;

  .container {
    background: url(img/topHeaderBack.png) no-repeat right 50px top 6px;
    height: inherit;
    display: flex;
    align-items: center;
    background-size: 530px;
  }

  &Text {
    border-left: 12px solid $pinkColor;
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    padding-left: 12px;
    width: 510px;

    &Top {
      font-size: 60px;
      letter-spacing: 1.5px;
    }

    &Bottom {
      letter-spacing: 1px;

      span {
        color: $pinkColor;
      }
    }
  }
}

.offers {
  height: 825px;
  margin-top: 98px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.offer {
  background-repeat: no-repeat;
  width: 560px;
  padding-top: 26px;
  box-sizing: border-box;

  &:first-child {
    background-image: url(img/offer1.jpg);
    height: 542px;
  }

  &:nth-child(2) {
    background-image: url(img/offer2.jpg);
    height: 261px;
    margin-top: 20px;
  }

  &:nth-child(3) {
    background-image: url(img/offer3.jpg);
    height: 261px;
  }

  &:last-child {
    background-image: url(img/offer4.jpg);
    height: 542px;
    margin-top: 20px;
  }

  &Text {
    background-color: #ffffff;
    padding: 16px 18px;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.45px;
    display: inline-block;

    span {
      color: $pinkColor;
      font-size: 30px;
      letter-spacing: 0.75px;
    }
  }
}

.featuredItems {
  text-align: center;

  &H2 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin-top: 100px;
  }
  &Text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  &Button {
    width: 212px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.4px;
    background-color: $pinkColor;
    border: none;
    text-align: center;
    margin-top: 58px;

    i {
      padding-left: 9px;
    }
  }
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  margin-top: 39px;

  &:nth-child(n + 5) {
    margin-top: 27px;
  }

  &ImgWrap {
    position: relative;
  }

  &Buy {
    height: 279px;
    width: 261px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;

    &Button {
      height: 39px;
      border: 1px solid #ffffff;
      color: #ffffff;
      background: url(img/add_to_cart.svg) no-repeat left 13px center;
      background-color: rgba(0, 0, 0, 0);
      font-size: 13px;
      font-weight: 700;
      margin-top: 98px;
      padding-left: 43px;
      padding-right: 13px;
    }
  }

  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }

  &:hover .itemBuy {
    display: flex;
    justify-content: center;
    align-items: unset;
  }

  &Name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 14px;
    padding-top: 20px;
  }

  &Price {
    color: $pinkColor;
    font-size: 16px;
    font-weight: 700;
    padding-left: 13px;
    padding-top: 17px;
    padding-bottom: 21px;
    text-align: left;
  }
}

.newOffer {
  display: flex;
  margin-top: 113px;

  &Text {
    color: #ffffff;
    font-weight: 700;
    margin-left: 39px;
    margin-top: 146px;

    &Top {
      font-size: 54px;
      letter-spacing: 1.5px;

      span {
        color: $pinkColor;
      }
    }

    &Bottom {
      font-size: 32px;
      letter-spacing: 0.9px;
    }
  }

  &Offer {
    background: url(img/offerForWomen.jpg);
    width: 767px;
  }

  &Details {
    background-color: #222224;
    padding-left: 36px;
    width: 373px;
  }
}

.detail {
  &:first-child {
    background: url(img/offerDetails1.png) no-repeat;
    margin-top: 50px;
  }

  &:nth-child(2) {
    background: url(img/offerDetails2.png) no-repeat;
    margin-top: 50px;
  }

  &:last-child {
    background: url(img/offerDetails3.png) no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &H2 {
    margin-left: 78px;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &Text {
    margin-left: 78px;
    margin-top: 12px;
    width: 219px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
  }
}
