@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

header {
  height: 100px;
  display: flex;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header .container {
  height: inherit;
  display: flex;
  align-items: center;
}

.logo {
  background: url(img/logo.png) no-repeat;
  width: 167px;
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 72px;
  box-sizing: border-box;
  text-decoration: none;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 49px;
  letter-spacing: 0.68px;
  letter-spacing: 0.025em;
  box-sizing: border-box;
}

.logo span {
  color: #f16d7f;
  font-weight: 900;
}

header form {
  height: 38px;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-left: 37px;
  overflow: hidden;
}

.browse {
  width: 87px;
  border-right: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #222222;
}

.browse i {
  margin-left: 8px;
}

header form input {
  width: 280px;
  border: none;
  font-family: inherit;
  padding: 14px 16px;
}

.search {
  width: 36px;
  color: #a4a4a4;
  border: none;
  border-left: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.cart {
  margin-left: auto;
  margin-right: 26px;
}

.account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38px;
}

.account i {
  margin-left: 8px;
}

.top-menu {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.menu:not(:last-child) {
  margin-right: 35px;
}

.promo {
  height: 614px;
  display: flex;
  align-items: center;
  background: #e8e8e8;
}

.promo .container {
  background: url(img/topHeaderBack.png) no-repeat right 50px top 6px;
  height: inherit;
  display: flex;
  align-items: center;
  background-size: 530px;
}

.promo-text {
  border-left: 12px solid #f16d7f;
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  padding-left: 12px;
  width: 510px;
}

.promo-text-top {
  font-size: 60px;
  letter-spacing: 1.5px;
}

.promo-text-bottom {
  letter-spacing: 1px;
}

.promo-text-bottom span {
  color: #f16d7f;
}

.offers {
  margin-top: 98px;
  display: flex;
  justify-content: space-between;
}

.offer1 {
  background-image: url(img/offer1.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 542px;
  padding-top: 26px;
  box-sizing: border-box;
}

.offer2 {
  background-image: url(img/offer2.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 261px;
  margin-top: 20px;
  padding-top: 26px;
  box-sizing: border-box;
}

.offer3 {
  background-image: url(img/offer3.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 261px;
  padding-top: 26px;
  box-sizing: border-box;
}

.offer4 {
  background-image: url(img/offer4.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 542px;
  margin-top: 20px;
  padding-top: 26px;
  box-sizing: border-box;
}

.offer-text {
  background-color: #ffffff;
  padding: 16px 18px;
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  display: inline-block;
}

.offer-text span {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.featured-items {
  text-align: center;
}

.featured-items h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin-top: 100px;
}

.featured-text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.items {
  /* display: flex;
  justify-content: space-between; */
}

.items-top {
  display: flex;
  justify-content: space-between;
}

.items-bottom {
  display: flex;
  justify-content: space-between;
}

.item {
  margin-top: 39px;
}

.item button {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  display: none;
}

.item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover img {
  filter: brightness(40%);
}

.item-name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  padding-left: 14px;
  padding-top: 20px;
}

.item-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  padding-left: 13px;
  padding-top: 17px;
  padding-bottom: 21px;
  text-align: left;
}

.featured-items button {
  width: 212px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.4px;
  background-color: #f16d7f;
  border: none;
  text-align: center;
  margin-top: 58px;
}

.featured-items button i {
  padding-left: 9px;
}

.new-offer {
  display: flex;
  margin-top: 113px;
}

.left {
  background: url(img/offerForWomen.jpg);
  width: 767px;
}

.new-offer-text {
  color: #ffffff;
  font-weight: 700;
  margin-left: 39px;
  margin-top: 146px;
}

.new-offer-text-top {
  font-size: 54px;
  letter-spacing: 1.5px;
}

.new-offer-text-top span {
  color: #f16d7f;
}

.new-offer-text-bottom {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.right {
  background-color: #222224;
  padding-left: 36px;
  width: 373px;
}

.detail1,
.detail2,
.detail3 {
  width: 245px;
}
.detail1 {
  background: url(img/offerDetails1.png) no-repeat;
  margin-top: 55px;
}

.detail2 {
  background: url(img/offerDetails2.png) no-repeat;
  margin-top: 61px;
}

.detail3 {
  background: url(img/offerDetails3.png) no-repeat;
  margin-top: 62px;
  margin-bottom: 63px;
}

.detailh2 {
  margin-left: 78px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.detail-text {
  margin-left: 78px;
  width: 219px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
