@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import 'variables';

.mentions {
  margin-top: 100px;
  height: 438px;
  background: url(img/subscribe.jpg) no-repeat, rgba(242, 242, 242, 0.5);
  background-blend-mode: overlay;
  background-size: cover;

  &Wrap {
    display: flex;
    height: 438px;
  }
}

.mention {
  width: calc(50% - 0.5px);
  display: flex;
  align-items: start;

  img {
    margin-top: 110px;
  }
  &Quote {
    margin-top: 110px;
    margin-left: 28px;
  }
}

.quote {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-right: 72px;

  &Sign {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
    margin-top: 19px;

    span {
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: $pinkColor;
    }
  }
}

.subscribe {
  width: calc(50% - 0.5px);
  border-left: 1px solid #fff;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    margin-top: 148px;
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
  }
  form {
    margin-top: 35px;

    input {
      width: 282px;
      height: 46px;
      background-color: #e1e1e1;
      border-radius: 23px 0px 0px 23px;
      border: none;
      padding-left: 28px;
    }

    button {
      width: 104px;
      height: 46px;
      background-color: $pinkColor;
      border-radius: 0px 23px 23px 0px;
      border: none;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #ffffff;
    }
  }
}

.bottom {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  &Brand {
    width: 427px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    margin-top: 29px;
  }

  &Nav {
    display: flex;
    justify-content: space-between;

    &Column {
      display: flex;
      flex-direction: column;
      width: 155px;

      &:not(:first-child) {
        margin-left: 80px;
      }
      h2 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $pinkColor;
        margin-bottom: 34px;
      }

      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #898989;
        line-height: 42px;
      }
    }
  }
}

footer {
  height: 79px;
  background-color: #e6e6e6;
  margin-top: 89px;
  display: flex;
  align-items: center;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.footerNav {
  display: flex;
}

.footerSocial {
  height: 32px;
  width: 32px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;

  i {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
  }

  &:nth-child(2) {
    background-color: $pinkColor;
  }

  &:nth-child(2) i {
    color: #f7f7f8;
  }
}
