@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import 'variables';

.menuActive {
  border-bottom: 3px solid $pinkColor;
  box-sizing: border-box;
}

.sliderMenuPointsWrap {
  display: flex;
  flex-direction: column;

  > a {
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
    text-decoration: none;
  }

  > a:hover {
    text-decoration: none;
  }
}

.product {
  margin-top: 59px;

  &Acc {
    border: none;
  }

  &NavBtn {
    height: 37px;

    border-top: none;
    border-right: none;
    border-left: 5px solid $pinkColor;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    padding-left: 14px;
    padding-top: 10px;

    &Text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      text-decoration: none;
      color: $pinkColor;
      padding: 0px;
      display: flex;
      justify-content: space-between;
    }

    &Text:hover {
      text-decoration: none;
      color: $pinkColor;
    }

    &text:focus {
      text-decoration: none;
      color: $pinkColor;
    }
  }

  .fa-caret-down {
    display: none;
  }

  .productNavBtnText.collapsed .fa-caret-down {
    display: inline-block;
    color: #6f6e6e;
  }

  .productNavBtnText.collapsed .fa-caret-up {
    display: none;
  }

  .productNavBtnText.collapsed {
    color: #6f6e6e;
  }

  .productNavBtnText.collapsed:first-child &NavCard {
    border: none;
    padding-bottom: 18px;
  }

  &Name {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    color: #6f6e6e;
    margin-top: 19px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &Price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #f16d7f;
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 21px;
  }
}

.productItemsNav {
  &H2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #6f6e6e;
  }

  a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
  }

  .line {
    content: '';
    width: 1px;
    box-sizing: border-box;
    border-left: 1px solid #dfdfdf;
    margin-left: 20px;
    margin-right: 18px;
  }

  label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-left: 5px;
    margin-right: 20px;
  }

  input {
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
  }

  &Main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.productItemsSort {
  display: flex;
  height: 50px;
  background-color: #f3f3f3;
  align-items: center;
  padding-left: 9px;
  margin-left: 0px;
  margin-top: 41px;

  &By {
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    padding-left: 13px;
    padding-right: 13px;

    &Select {
      height: 30px;
      background-color: #ffffff;
      border: 1px solid #ebebeb;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #6f6e6e;
      padding-left: 13px;
      padding-right: 13px;
      border-left: none;
    }
  }

  &Show {
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 22px;

    &Select {
      height: 30px;
      background-color: #ffffff;
      border: 1px solid #ebebeb;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #6f6e6e;
      padding-left: 13px;
      padding-right: 13px;
      border-left: none;
    }
  }
}

.productItemsWrap {
  margin-top: 48px;
}

.mainBottom {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

//Start style paginator
.pages {
  margin-left: -15px;
}

.pageItem {
  .pageLink {
    line-height: 26px;
    font-weight: 300;
    color: #c4c4c4;
  }

  img {
    max-width: inherit;
  }
}

.page-link {
  border: none;
}

.pageLink {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding-left: 5px;
}

.pageItem:first-child .pageLink {
  border-left: 1px solid #dee2e6;
  padding-left: 5px;
}

.pageItem:last-child .pageLink {
  border-right: 1px solid #dee2e6;
}

.pageItem.pageItemActive .pageLink {
  z-index: 3;
  color: $pinkColor;
  background-color: #fff;
  border-color: #dee2e6;
}

.pageItem:last-child .pageLink {
  color: $pinkColor;
} //End style paginator

.viewAll {
  width: 150px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #ef5b70;
}

.offer {
  height: 341px;
  background-color: #222224;
  margin-top: 100px;
  margin-bottom: -100px;

  &Wrap {
    display: flex;
    justify-content: space-evenly;
  }
}

.detail {
  text-align: center;

  &H2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-top: 152px;
  }

  &Text {
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
  }
}

.detail:first-child {
  background: url(../img/offerDetails1.png) no-repeat top 89px center;
}

.detail:nth-child(2) {
  background: url(../img/offerDetails2.png) no-repeat top 89px center;
}

.detail:last-child {
  background: url(../img/offerDetails3.png) no-repeat top 89px center;
}
