@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.promo {
  height: 614px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e8e8e8;
}

.promo .container {
  background: url(../img/topHeaderBack.png) no-repeat right 50px top 6px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 530px;
}

.promoText {
  border-left: 12px solid #f16d7f;
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  padding-left: 12px;
  width: 510px;
}

.promoTextTop {
  font-size: 60px;
  letter-spacing: 1.5px;
}

.promoTextBottom {
  letter-spacing: 1px;
}

.promoTextBottom span {
  color: #f16d7f;
}

.offers {
  height: 825px;
  margin-top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.offer {
  background-repeat: no-repeat;
  width: 560px;
  padding-top: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offer:first-child {
  background-image: url(../img/offer1.jpg);
  height: 542px;
}

.offer:nth-child(2) {
  background-image: url(../img/offer2.jpg);
  height: 261px;
  margin-top: 20px;
}

.offer:nth-child(3) {
  background-image: url(../img/offer3.jpg);
  height: 261px;
}

.offer:last-child {
  background-image: url(../img/offer4.jpg);
  height: 542px;
  margin-top: 20px;
}

.offerText {
  background-color: #ffffff;
  padding: 16px 18px;
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  display: inline-block;
}

.offerText span {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.featuredItems {
  text-align: center;
}

.featuredItemsH2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin-top: 100px;
}

.featuredItemsText {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.featuredItemsButton {
  width: 212px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.4px;
  background-color: #f16d7f;
  border: none;
  text-align: center;
  margin-top: 58px;
}

.featuredItemsButton i {
  padding-left: 9px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  margin-top: 39px;
}

.item:nth-child(n + 5) {
  margin-top: 27px;
}

.itemImgWrap {
  position: relative;
  width: 261px;
  height: 280px;
}

.itemImgWrap img {
  width: 261px;
  height: 280px;
}

.itemBuy {
  height: 280px;
  width: 261px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
}

.itemBuyButton {
  height: 39px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: url(../img/add_to_cart.svg) no-repeat left 13px center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 13px;
  font-weight: 700;
  margin-top: 98px;
  padding-left: 43px;
  padding-right: 13px;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .itemBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.itemName {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 20px;
}

.itemPrice {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  padding-left: 14px;
  padding-top: 17px;
  padding-bottom: 21px;
  padding-right: 14px;
  text-align: left;
}

.newOffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 113px;
}

.newOfferText {
  color: #ffffff;
  font-weight: 700;
  margin-left: 39px;
  margin-top: 146px;
}

.newOfferTextTop {
  font-size: 54px;
  letter-spacing: 1.5px;
}

.newOfferTextTop span {
  color: #f16d7f;
}

.newOfferTextBottom {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.newOfferOffer {
  background: url(../img/offerForWomen.jpg);
  width: 767px;
}

.newOfferDetails {
  background-color: #222224;
  padding-left: 36px;
  width: 373px;
}

.detail:first-child {
  background: url(../img/offerDetails1.png) no-repeat;
  margin-top: 50px;
}

.detail:nth-child(2) {
  background: url(../img/offerDetails2.png) no-repeat;
  margin-top: 50px;
}

.detail:last-child {
  background: url(../img/offerDetails3.png) no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;
}

.detailH2 {
  margin-left: 78px;
  width: 219px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.detailText {
  margin-left: 78px;
  margin-top: 12px;
  width: 219px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
/*# sourceMappingURL=style.css.map */