@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import 'variables';

body {
  font-family: Lato, sans-serif;
}

.container {
  width: $siteWidth;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  border-bottom: 1px solid #ececec;

  .container {
    height: inherit;
    display: flex;
    align-items: center;
  }

  form {
    height: 38px;
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-left: 37px;
    overflow: hidden;

    input {
      width: 280px;
      border: none;
      font-family: inherit;
      padding: 14px 16px;
    }
  }
}

.logo {
  background: url(../img/logo.png) no-repeat;
  width: 167px;
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 72px;
  box-sizing: border-box;
  text-decoration: none;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 49px;
  letter-spacing: 0.68px;

  span {
    color: $pinkColor;
    font-weight: 900;
  }
}

.browse {
  width: 87px;
  border-right: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #222222;
  i {
    margin-left: 8px;
  }
}

.search {
  width: 36px;
  color: #a4a4a4;
  border: none;
  border-left: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.cartImg {
  margin-left: auto;
  margin-right: 26px;
}

.account {
  width: 130px;
  height: 38px;
  background-color: $pinkColor;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38px;
  i {
    margin-left: 8px;
  }
}

.top-menu {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  &:not(:last-child) {
    margin-right: 35px;
  }
}

//cart, singlepage
.newArrivals {
  height: 142px;
  background-color: #f8f3f4;

  &Wrap {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Header {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    color: $pinkColor;
  }

  &Nav {
    display: flex;

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      color: #636363;
      margin-left: 2px;
      margin-right: 2px;
    }

    &Link {
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      color: #636363;
    }

    &Link:last-child {
      font-weight: 700;
      color: $pinkColor;
    }
  }
}
